{% extends 'main/layout.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
     <div class="features-main">
        <h1>Информация о нас</h1>
        <div class="about"><p>Добро пожаловать на страницу "О нас" в нашем веб приложении для управления проектами!
            Этот инструмент для упрощения процесса управления проектами. Наша цель - помочь вам эффективно планировать, отслеживать и успешно завершать свои проекты.

Мы предлагаем широкий спектр функциональности, включающий в себя создание задач, отслеживание прогресса, обновления.

Наше веб приложение позволяет управлять несколькими проектами одновременно, делая процесс более удобным и эффективным. Мы постоянно работаем над улучшением нашего продукта и добавлением новых возможностей, чтобы помочь вам достигать своих целей.

Не откладывайте свои проекты на потом - начните использовать наше приложение прямо сейчас и увидите разницу в управлении своими задачами!

С уважением, команда разработчиков.</p>
        </div>
    </div>
{% endblock %}